* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* MyHeader */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 40px;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;

}

li {
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

/* JUMBOTRON */
.jumbotron img {
    width: 100%;
}

/* MYMAINCONTENT */

/* ComicsList */
#comics {
    height: 800px;
    padding-bottom: 1px;
}

.card-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.comic-card {
    flex-basis: 20%;

}

img {
    display: block;
}



/* ShopContent */
#icon-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0382F9;
}

#icon-section div {
    display: flex;
    align-items: center;
}

#icon-section img {
    width: 50px;
}